@model RandomDataWeb.Models.Account
@{
    ViewBag.Title = "Dodawanie nowego użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodawanie nowego użytkownika</h2>

@using (Html.BeginForm("Save", "Account"))
{
    @Html.ValidationSummary(true, "Popraw błędy!")
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>    
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Zapisz</button>
}
